<footer class="footer">
  <small>
    The <a href="https://waka.vn/">Waka Ebook</a>
    by <a href="https://waka.vn/tac-gia/">Group of Authors</a>
  </small>
  <nav>
    <ul>
      <li>
        <a href="https://waka.vn/gioi-thieu"><%=(t "layouts.footer.about")%></a>
      </li>
      <li>
        <a href="https://waka.vn/"><%=(t "layouts.footer.contact")%></a>
      </li>
      <li>
        <a href="https://waka.vn/tin-tuc"><%=(t "layouts.footer.news")%></a>
      </li>
      <li><%= link_to "English", locale:"en" %></li>
      <li><%= link_to "Vietnamese", locale:"vi" %></li>

    </ul>
  </nav>
</footer>
